python-oembed==0.2.1
Pillow
django-extensions
django
django-jsonfield==0.8.12
html2text
easy-thumbnails
requests
-e git+git://github.com/luminousflux/django-crispy-forms.git#egg=django-crispy-forms-1.1.4
