body {
    background-color: rgb(240,255,255);
}

ul.tabs {
    margin: 0;
    padding: 0;
    border-left: 2px solid #EFEFEF;
    height: 1.6em;
    border-top-left-radius: 5px;
}
ul.tabs li {
    line-height: 1em;
    margin: 0;
    padding: .25em 10px;
    float: left;
    border-right: 2px solid #EFEFEF;
    border-top: 2px solid #EFEFEF;
    border-bottom: 2px solid #EFEFEF;
    cursor: pointer;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
br.clear {
    clear: both;
}
#switcher div.form {
    display: none;
}
p [name=author] {
    display: none;
}
