
.tumblelog {
  line-height: 1.5em;
}

.tumblelog .notice.last {
  margin-bottom: 1em;
}
.tumblelog .notice {
  padding: 1em 2em 1.5em 1em;
}
.tumblelog .btnbox {
  padding: 1em 2em 0 1em;
}

.tumblelog .notice .btns {
  clear: both;
}
.tumblelog .notice .noticeicon {
  float: left;
  margin-right: 1em
}
.tumblelog #entries {
  padding: 0px 0px 10px 0px;
}
.tumblelog .date {
  color: #aaa;
  font-size: .9em;
  margin-top:.3em;
}

.tumblelog .date a {
  color: #999;
}

.tumblelog .entry {
  background: url(../types/icon_regular.png) left top no-repeat; 
  background-position: 7px 0;
  padding-left: 50px;
  margin-bottom: 30px;
  padding-right: 10px;
}
.tumblelog .link { background-image: url(../types/icon_link.png); }
.tumblelog .video { background-image: url(../types/icon_video.png); }
.tumblelog .image { background-image: url(../types/icon_image.png); }
.tumblelog .photo { background-image: url(../types/icon_image.png); }
.tumblelog .video embed, .tumblelog .image img, .tumblelog .picture img { margin-bottom: 5px; }
.tumblelog .quote { background-image: url(../types/icon_quote.png); }
.tumblelog .quote blockquote {
  margin: 0; padding: 0;
  font-size: 1.4em;
  line-height: 1.2em;
}

.tumblelog .entry.pinned {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #EEB;
    background-position: 7px 15px;
}

.tumblelog .entry img {
    max-width: 100%;
}

.tumblelog .entry .meta {
    font-size: .85em;
}

.tumblelog .quote cite {
  font-style: normal;
  display: block;
  line-height: 1.3em;
  margin: 5px 0;
}
.tumblelog .tweet img.t {
  margin-left: -6px;
  position: relative;
  top: 10px;
}
.tumblelog .tweet blockquote {
  border: 1px solid #ccc;
  background: #fff;
  margin: 0; padding: .5em;
  margin-top: -10px;
}
.tumblelog .tweet cite {
  font-style: normal;
}

.tumblelog .entry .tumblecontent {
    padding-top: 2px;
}

.tumblelog p:nth-child(1) {
    margin-top: 0;
}
